<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="darkblue">Què és audiovook?</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p class="darkblue">A <b>audiovook</b>, creem llibres d'àudio i cultura digital i els distribuïm en targetes  d'accés fàcil i simple. De cop, el món digital esdevé tangible; el pots comprar i regalar, compartir i tocar.</p>
      </div>
      <div class="col-lg-4">
        <p class="darkblue">De cop, et reciten poemes a cau d'orella, mentre camines, vas en bicicleta o t'estàs adormint. Quin plaer!
          De cop, audiovook fa això, per a tu i amb tu. T'hi apuntes? Para L'orella!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="darkblue">Pots provar <b>audiovook</b>, tindràs accés immediat a aàudiollibres d'accés lliure. Revisa la teva biblioteva i el reproductor.<br />
          <a href="#" class="btn btn-lg btn-outline darkblue">
            <i class="fa fa-download"></i> Registra (properament actiu)'t
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
