<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="darkblue">Què és audiovook?</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p class="darkblue">At <b>audiovook</b>, we create audiobooks and digital culture and distribute them in easy and simple access cards. Suddenly, the digital world becomes tangible; you can buy it, gift it, share it, and touch it.</p>
      </div>
      <div class="col-lg-4">
        <p class="darkblue">Suddenly, poems are whispered in your ear, while you walk, bike, or fall asleep. What a pleasure!
          Suddenly, audiovook does this, for you and with you. Are you in? Stop L'orella!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="darkblue">You can try <b>audiovook</b> and get access to a free audiobook and discover your library and the player.<br />
          <a href="#" class="btn btn-lg btn-outline darkblue">
            <i class="fa fa-download"></i> Sign up (soon available)
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
