<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>{{ site.data[page.lang].forgot_password.title }}</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <form name="sentMessage" id="forgotPasswordForm" novalidate>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>{{ site.data[page.lang].forgot_password.email_label }}</label>
                <input type="email" class="form-control" placeholder="{{ site.data[page.lang].forgot_password.email_placeholder }}" id="email" required data-validation-required-message="{{ site.data[page.lang].forgot_password.email_required }}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="row">
              <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-success btn-lg">{{ site.data[page.lang].forgot_password.submit_button }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}
  <script>
    document.getElementById("forgotPasswordForm").addEventListener("submit", function(event) {
      event.preventDefault();
      var email = document.getElementById("email").value;
      // Here we would call the API to send the password reset email.
      // Since the API endpoint is not implemented yet, we will just show a success message.
      var success = document.getElementById("success");
      success.innerHTML = "<div class='alert alert-success'>If an account with this email exists, a password reset link has been sent.</div>";
    });
  </script>
</body>

</html>
