<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>{{ site.data[page.lang].user.title }}</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button id="logoutButton" class="btn btn-danger btn-lg">Logout</button>
          <a href="/admin" id="adminLink" class="btn btn-primary btn-lg" style="display: none;">Admin</a>
          <button id="editProfileButton" class="btn btn-info btn-lg">{{ site.data[page.lang].user.edit_profile_button }}</button>
        </div>
      </div>

      <div id="editProfileFormContainer" class="row" style="display: none; margin-top: 20px;">
        <div class="col-lg-8 col-lg-offset-2">
          <h3>{{ site.data[page.lang].user.edit_profile_title }}</h3>
          <form id="editProfileForm">
            <div class="form-group">
              <label for="name">{{ site.data[page.lang].user.name_label }}</label>
              <input type="text" class="form-control" id="name" placeholder="{{ site.data[page.lang].user.name_label }}">
            </div>
            <div class="form-group">
              <label for="location">{{ site.data[page.lang].user.location_label }}</label>
              <input type="text" class="form-control" id="location" placeholder="{{ site.data[page.lang].user.location_label }}">
            </div>
            <button type="submit" class="btn btn-success">{{ site.data[page.lang].user.save_changes_button }}</button>
          </form>

          <hr>

          <h3>{{ site.data[page.lang].user.change_password_title }}</h3>
          <form id="changePasswordForm">
            <div class="form-group">
              <label for="new_password">{{ site.data[page.lang].user.new_password_label }}</label>
              <input type="password" class="form-control" id="new_password" placeholder="{{ site.data[page.lang].user.new_password_label }}">
            </div>
            <div class="form-group">
              <label for="password_confirm">{{ site.data[page.lang].user.confirm_password_label }}</label>
              <input type="password" class="form-control" id="password_confirm" placeholder="{{ site.data[page.lang].user.confirm_password_label }}">
            </div>
            <button type="submit" class="btn btn-success">{{ site.data[page.lang].user.save_changes_button }}</button>
          </form>
          <div id="edit-success"></div>
        </div>
      </div>

      <div id="qr-specific-content"></div>
      <div class="row">
        <div class="col-lg-12">
          <h3>{{ site.data[page.lang].user.owned_books }}</h3>
          <ul id="owned-books"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3>{{ site.data[page.lang].user.borrowed_books }}</h3>
          <ul id="borrowed-books"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3>{{ site.data[page.lang].user.lent_books }}</h3>
          <ul id="lent-books"></ul>
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var token = localStorage.getItem("token");
      var lang = window.location.pathname.split('/')[1];
      if (!token) {
        window.location.href = "/" + lang + "/login.html";
      }

      document.getElementById("logoutButton").addEventListener("click", function() {
        localStorage.removeItem("token");
        window.location.href = "/" + lang + "/login.html";
      });

      var currentUserEmail = "";

      function fetchCurrentUser() {
        return fetch("http://localhost:8000/api/v1/users/me", {
          headers: {
            "Authorization": "Bearer " + token
          }
        }).then(function(response) {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error("Failed to fetch user information.");
          }
        }).then(function(data) {
          currentUserEmail = data.email;
          document.getElementById("name").value = data.name;
          document.getElementById("location").value = data.location;
          if (data.is_admin) {
            document.getElementById("adminLink").style.display = "inline-block";
          }
        });
      }

      document.getElementById("editProfileButton").addEventListener("click", function() {
        var formContainer = document.getElementById("editProfileFormContainer");
        formContainer.style.display = formContainer.style.display === "none" ? "block" : "none";
      });

      document.getElementById("editProfileForm").addEventListener("submit", function(event) {
        event.preventDefault();
        var name = document.getElementById("name").value;
        var location = document.getElementById("location").value;

        fetch("http://localhost:8000/api/v1/users/me", {
          method: "PUT",
          headers: {
            "Authorization": "Bearer " + token,
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ name: name, location: location })
        }).then(function(response) {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error("{{ site.data[page.lang].user.update_failed }}");
          }
        }).then(function(data) {
          document.getElementById("edit-success").innerHTML = "<div class='alert alert-success'>{{ site.data[page.lang].user.profile_updated }}</div>";
        }).catch(function(error) {
          document.getElementById("edit-success").innerHTML = "<div class='alert alert-danger'>" + error.message + "</div>";
        });
      });

      document.getElementById("changePasswordForm").addEventListener("submit", function(event) {
        event.preventDefault();
        var new_password = document.getElementById("new_password").value;
        var password_confirm = document.getElementById("password_confirm").value;

        if (new_password !== password_confirm) {
          document.getElementById("edit-success").innerHTML = "<div class='alert alert-danger'>{{ site.data[page.lang].user.password_mismatch }}</div>";
          return;
        }

        fetch("http://localhost:8000/api/v1/users/me", {
          method: "PUT",
          headers: {
            "Authorization": "Bearer " + token,
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ password: new_password, password_confirm: password_confirm })
        }).then(function(response) {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error("{{ site.data[page.lang].user.update_failed }}");
          }
        }).then(function(data) {
          document.getElementById("edit-success").innerHTML = "<div class='alert alert-success'>{{ site.data[page.lang].user.profile_updated }}</div>";
          document.getElementById("new_password").value = "";
          document.getElementById("password_confirm").value = "";
        }).catch(function(error) {
          document.getElementById("edit-success").innerHTML = "<div class='alert alert-danger'>" + error.message + "</div>";
        });
      });

      function renderBook(qr, statusData) {
        var li = document.createElement("li");
        li.innerHTML = `
          <strong>${qr}</strong> - Status: ${statusData.status_label}
          <div id="actions-${qr}"></div>
        `;

        if (statusData.owner_email === currentUserEmail) {
          document.getElementById("owned-books").appendChild(li);
          if (statusData.borrower_email) {
            document.getElementById("lent-books").appendChild(li.cloneNode(true));
          }
        } else if (statusData.borrower_email === currentUserEmail) {
          document.getElementById("borrowed-books").appendChild(li);
        }

        var actionsDiv = li.querySelector(`#actions-${qr}`);
        if(actionsDiv) {
            renderActions(actionsDiv, qr, statusData);
        }
      }

      function stopLendBook(qr) {
        if (confirm("Are you sure you want to stop lending this book?")) {
          fetch("http://localhost:8000/api/v1/abook/" + qr + "/stop-lend", {
            method: "POST",
            headers: { "Authorization": "Bearer " + token }
          }).then(function(response) {
            if (response.ok) return response.json();
            return response.json().then(function(data) { throw new Error(data.detail); });
          }).then(function() {
            alert("Lend stopped successfully!");
            location.reload(); // Simple refresh for now
          }).catch(function(error) {
            handleApiError(error);
          });
        }
      }

      function handleApiError(error) {
        var lang = window.location.pathname.split('/')[1] || 'ca';
        fetch("http://localhost:8000/api/v1/translations/" + lang)
          .then(function(response) {
            if (response.ok) return response.json();
            throw new Error("Failed to fetch translations.");
          })
          .then(function(translations) {
            var errorMessage = translations.GENERIC_ERROR;
            if (error.message) {
                var errorKey = error.message.toUpperCase().replace(/ /g, '_');
                if (translations[errorKey]) {
                    errorMessage = translations[errorKey];
                }
            }
            alert(errorMessage);
          })
          .catch(function() {
            alert("An error has occurred. Please try again.");
          });
      }

      function claimBook(qr) {
        fetch("http://localhost:8000/api/v1/claim/" + qr, {
          method: "POST",
          headers: { "Authorization": "Bearer " + token }
        }).then(function(response) {
          if (response.ok) return response.json();
          return response.json().then(function(data) { throw new Error(data.detail); });
        }).then(function() {
          alert("Book claimed successfully!");
          location.reload(); // Simple refresh for now
        }).catch(function(error) {
          handleApiError(error);
        });
      }

      function lendBook(qr) {
        var borrowerEmail = prompt("Enter the email of the person you want to lend the book to:");
        if (borrowerEmail && borrowerEmail !== currentUserEmail) {
          fetch("http://localhost:8000/api/v1/lend/" + qr, {
            method: "POST",
            headers: {
              "Authorization": "Bearer " + token,
              "Content-Type": "application/json"
            },
            body: JSON.stringify({ borrower_email: borrowerEmail })
          }).then(function(response) {
            if (response.ok) return response.json();
            return response.json().then(function(data) { throw new Error(data.detail); });
          }).then(function() {
            alert("Book lent successfully!");
            location.reload(); // Simple refresh for now
          }).catch(function(error) {
            handleApiError(error);
          });
        } else {
          alert("Invalid email or you cannot lend to yourself.");
        }
      }

      function renderActions(container, qr, statusData) {
        container.innerHTML = ''; // Clear previous actions

        if (statusData.can_claim) {
          var claimButton = document.createElement("button");
          claimButton.textContent = "Claim";
          claimButton.className = "btn btn-primary";
          claimButton.onclick = function() { claimBook(qr); };
          container.appendChild(claimButton);
        }

        if (statusData.can_lend) {
          var lendButton = document.createElement("button");
          lendButton.textContent = "Lend";
          lendButton.className = "btn btn-info";
          lendButton.onclick = function() { lendBook(qr); };
          container.appendChild(lendButton);
        }

        if (statusData.can_stop_lend) {
          var stopLendButton = document.createElement("button");
          stopLendButton.textContent = "Stop Lend";
          stopLendButton.className = "btn btn-warning";
          stopLendButton.onclick = function() { stopLendBook(qr); };
          container.appendChild(stopLendButton);
        }

        if (statusData.can_play) {
          var playButton = document.createElement("button");
          playButton.textContent = "Play";
          playButton.className = "btn btn-success";
          playButton.onclick = function() { playBook(qr); };
          container.appendChild(playButton);
        }
      }

      function playBook(qr) {
        var playButton = event.target;
        playButton.textContent = "{{ site.data[page.lang].loading }}";
        playButton.disabled = true;

        fetch("http://localhost:8000/api/v1/abook/" + qr + "/play-auth", {
          headers: { "Authorization": "Bearer " + token }
        }).then(function(response) {
          if (response.ok) return response.json();
          return response.json().then(function(data) { throw new Error(data.detail); });
        }).then(function(data) {
          var message = "{{ site.data[page.lang].errors.OPENING_PLAYER }}".replace("{expires_in}", data.expires_in);
          alert(message);
          window.location.href = data.redirect_url;
        }).catch(function(error) {
          handleApiError(error);
          playButton.textContent = "Play";
          playButton.disabled = false;
        });
      }

      function fetchBookStatus(qr) {
          return fetch("http://localhost:8000/api/v1/abook/" + qr + "/status", {
              headers: { "Authorization": "Bearer " + token }
          }).then(function(response) {
              if (response.ok) return response.json();
              throw new Error("Failed to fetch book status.");
          });
      }

      function processQr(qr) {
        fetchBookStatus(qr).then(function(data) {
            var qrSpecificContainer = document.getElementById("qr-specific-content");
            if (qrSpecificContainer) {
                var bookDetails = document.createElement('div');
                bookDetails.innerHTML = `
                    <h3>${qr}</h3>
                    <p>Status: ${data.status_label}</p>
                    <div id="actions-${qr}"></div>
                `;
                qrSpecificContainer.appendChild(bookDetails);
                renderActions(bookDetails.querySelector(`#actions-${qr}`), qr, data);
            } else {
                renderBook(qr, data);
            }
        }).catch(console.error);
      }

      fetchCurrentUser().then(function() {
        var urlParams = new URLSearchParams(window.location.search);
        var qrParam = urlParams.get('qr');

        if (qrParam) {
            processQr(qrParam);
        } else {
            var qrs = ["project-1", "project-2", "project-3", "project-4", "project-5", "project-6"];
            qrs.forEach(processQr);
        }
      });

    });
  </script>
</body>

</html>
