fastapi
uvicorn[standard]
python-dotenv
sqlmodel
psycopg2-binary
pytest           # per executar els tests dins el contenidor
httpx
python-jose[cryptography]==3.3.0
passlib==1.7.4
bcrypt==3.2.0
python-multipart
pytz
pandas
ace_tools